<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1> {{ name }} </h1>
        <form @submit.prevent="submit">
            <div v-for="course in courses" :key="course.value">
                <input v-model="selectedCourses" type="checkbox" :id="course.value" :value="course.value">
                <label :for="course.value"> {{ course.name }} </label>
            </div>

            <button type="submit">Enviar</button>
            
        </form>
    </div>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: 'Vue app',
                courses: [
                    {name: 'Curso de Vue.js', value: 'vue'},
                    {name: 'Curso de ReactJs', value: 'react'},
                    {name: 'Curso de Angular2', value: 'angular'}
                ],
                selectedCourses: []
            },
            methods: {
                submit: function() {
                    console.log(this.selectedCourses)
                }
            }
        })
    </script>
</body>
</html>