<!DOCTYPE html>
<html lang='es'>

<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />
  <meta name="theme-color" content="#1C5DAB" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="apple-mobile-web-app-title" content="MyPWA" />
  <link rel="apple-touch-startup-image" href="./img/logo.png" />
  <link rel="apple-touch-icon" href="./img/logo.png" />
  <meta name="msapplication-TileImage" content="./img/logo.png" />
  <meta name="msapplication-TileColor" content="#1C5DAB" />
  <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
  <link rel="icon" type="image/png" href="./img/logo.png" />
  <link rel="author" type="text/plain" href="./humans.txt" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="./sitemap.xml" />
  <link rel="manifest" href="./manifest.json" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .table td,
    th {
      text-align: center;
    }

    .taskDone {
      text-decoration: line-through;
    }
  </style>
  <title>VueTODO</title>
</head>

<body>
  <div class="container">
    <div id="taskApp">
      <h1 class='text-center'> {{nameApp}} </h1>
      <!-- Add task from -->
      <div class="mb-2">
        <form v-on:submit='addTask' class="form-inline">
          <label for="new-task">Add new task</label>
          <input type="text" id='new-task' class="form-control form-control mb-2 mr-sm-2 ml-2" v-model='tasks.title'>

          <div class="col-auto text-center">
            <input type="submit" class="btn btn-primary mb-2" value="Add">
          </div>
      </div>
      </form>
      <!-- Tasks table -->
      <table class="table">
        <thead>
          <tr>
            <th>Done</th>
            <th>Task name</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='task in tasks'>
            <td> <input type="checkbox" v-model='task.done'> </td>
            <td> <span v-bind:class='{taskDone: task.done}'>{{task.title}}</span> </td>
            <td> <button v-on:click='deleteTask(task)' class="btn btn-danger">Delete</button> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
  <script type="text/javascript">
    new Vue({
      el: '#taskApp',
      data: {
        nameApp: 'TODO App',
        tasks: [{
          title: 'Default task 1',
          done: false
        }]
      },
      methods: {
        deleteTask: function(task) {
          this.tasks.splice(this.tasks.indexOf(task), 1);
        },
        addTask: function(e) {
          e.preventDefault();

          if (this.tasks.title != undefined && this.tasks.title != '') {
            this.tasks.push({
              title: this.tasks.title,
              done: false
            });
            this.tasks.title = '';
          }
        }
      }
    });
  </script>
</body>

</html>
